
/*Version movil*/
@media (max-width:767px){
    .desktop{display: none}
    .tablet{display: none}
    
    .container-informacion{
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        column-gap: 1%;
        min-height: 5em;
        height: calc(16em + 9vw);
    }
    .container-informacion__imagen img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 3px solid #b6a;
    }
    .container-informacion__sinopsis{
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
    }
    .container-informacion__sinopsis h1{
        color: #b68;
        font-weight: 600;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: calc(1em + 3vw);
        margin-top: 0;
        margin-bottom: 1%;
    }
    .container-informacion__sinopsis p{
        font-weight: lighter;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: calc(.8em + 1vw);
    }
    .container-informacion__sinopsis--genero h2{
        margin-top: 2%;
        width: 100%;
        font-size: calc(1em + 3vw);
    }
    .container-informacion__sinopsis--genero{
        margin-bottom: 5%;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        font-size: calc(.8em + 1vw);
    }
    .container-informacion__sinopsis--genero h3{
        background-color: #eee;
        border-radius: 20%;
        color: #bab;
    }
    .container-opciones{
        display: grid;
        grid-template-columns: 1fr;
        gap: 2%;
        margin-bottom: 5%;
    }
    .container-opciones__texto{
        font-size: calc(.7em + 2vw);
    }
    .container-opciones__texto--trailer{
        width: 100%;
        height: calc(16em + 3vw);
        margin-bottom: 5%;
    }
    .container-opciones__texto--trailer iframe{
        width: 100%;
        height: 100%;
    }
    .container-opciones__enlaces{
        display: flex;
        justify-content: space-between;
        font-size: calc(.5em + 3vw);
    }
}

/*Version tablet*/
@media (min-width: 768px) and (max-width:990px){
    .desktop{display: none}
    .movil{display: none}
}

/*Version desktop*/
@media (min-width:991px){
    .tablet{display: none}
    .movil{display: none}

    .container-informacion{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 1%;
        min-height: 30em;
        height: calc(20em + 32vh);
    }
    .container-informacion__imagen img{
        width: 100%;
        height: 90%;
        object-fit: cover;
        border: 3px solid #b6a;
    }
    .container-informacion__sinopsis{
        display: flex;
        flex-direction: column;
    }
    .container-informacion__sinopsis h1{
        color: #b68;
        font-weight: 600;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .container-informacion__sinopsis p{
        font-weight: lighter;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .container-informacion__sinopsis--genero h2{
        margin-top: 2%;
        width: 100%;
    }
    .container-informacion__sinopsis--genero{
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        width: 70%;
    }
    .container-informacion__sinopsis--genero h3{
        background-color: #eee;
        border-radius: 20%;
        padding: 1%;
        color: #bab;
    }
    .container-opciones{
        display: grid;
        grid-template-columns: repeat(7,1fr);
        gap: 2%;
        margin-bottom: 5%;
    }
    .container-opciones__texto{
        grid-column: span 3;
    }
    .container-opciones__texto--enlaces{
        margin-top: 5%;
    }
    .container-opciones__trailer{
        grid-column: span 4;
    }
    .container-opciones__trailer iframe{
        width: 100%;
        height: 100%;
    }
}