
/*Version movil*/
@media (max-width:767px){
    .desktop{display: none}
    .tablet{display: none}

    #cabeza{
        width: 95%;
        margin:  auto;
    }
    .clear{
        clear: both;
    }
    .blablabla{
        width: 100%;
    }
    .calen{
        font-size: 120%;
    }
    .calen h1{
        color: darkkhaki;
    }
    .calen p{
        font-size: 120%;
        margin-bottom: 5%;
        text-align: justify;
    }
    .calen iframe{
        width: 100%;
    }
    .calen a{
        color: dimgray;
        width: 33%;
        float: left;
        font-size: 90%;
    }
    .calen img{
        margin-top: 4%;
        margin-bottom: 3%;
    }
    .dia{
        line-height: 2;
        margin-top: 3%;
        font-size: larger;
        font-size: 150%;
        color: brown;
        margin-bottom: 2%;
    }
    .anim img{
        border-top-left-radius: 10%;
        border-top-right-radius: 10%;
    }
    .anim a{
        text-decoration: none;
        color: white;
    }
    
    .anim{
        border: 2px solid black;
        border-radius: 10%;
        background-color: black;
        float: left;
        width: 90%;
        height: 30vh;
        color: black;
        text-align: center;
        font-size: 100%;
        margin-right: 4%;
        margin-bottom: 4%;
        margin-left: 5%;
    }
    .anima{
        float: left;
        width: 100%;
        height: 5vh;
        margin-right: 4%;
        margin-bottom: 2%;  
    
    }
    footer a{
        text-decoration: none;
        color: yellowgreen;
    }
    footer{
        margin-top: 50%;
        background-color: aqua;
        color: red;
        height: 80px;
        line-height: 80px;
        text-align: center;
        font-size: 30px;
    }
    .salteo{
        width: calc(50% - 0px) ;
        float: left;
        color: white;
        text-align: center;
        padding-bottom: 5px;
    
    }
}

/*Version tablet*/
@media (min-width: 768px) and (max-width:990px){
    .desktop{display: none}
    .movil{display: none}
}

/*Version desktop*/
@media (min-width:991px){
    .tablet{display: none}
    .movil{display: none}

    #cabeza{
        width: 70%;
        margin:  auto;
        margin-top: 1%;
        
    }
    .blablabla{
        width: 100%;
    }
    .foto{
        float: left;
        width: 40%;
        margin-bottom: 2%;
    }
    .info{
        width: 56%;
        float: right;
        margin-left: 2%;
        margin-right: 2%;
    }
    .genero{
        display: block;
        overflow: hidden;
        height: 4vh;
    }
    .genero:hover{
        background-color: slateblue;
        height: 7vh;
    }
    .genero h3{
        position: relative;
        top: 1%;
        margin-right: 5%;
        display: inline-block;
        padding-bottom: 2%;
    }
    .enlac{
        width: 100%;
        float: left;
        margin-bottom: 2%;
    }
    .enlaces{
        width: 30%;
    }
    .enlaces h3{
        margin-top: 10%;
        padding-top: 10%;
    }
    .link1{
        width: 10%;
    }
    .trailer{
        width: 70%;
        float: right;
        text-align: center;
    }


    footer a{
        text-decoration: none;
        color: yellowgreen;
    }
    footer{
        margin-top: 50%;
        background-color: aqua;
        color: red;
        height: 80px;
        line-height: 80px;
        text-align: center;
        font-size: 30px;
    }
    .salteo{
        width: calc(50% - 0px) ;
        float: left;
        color: white;
        text-align: center;
        padding-bottom: 5px;
    
    }
}