
/*Version movil*/
@media (max-width:767px){
    .desktop{display: none}
    .tablet{display: none}

    #cabeza{
        width: 95%;
        margin:  auto;
    }
    .clear{
        clear: both;
    }
    .blablabla{
        width: 100%;
    }
    .calen{
        font-size: 120%;
    }
    .calen h1{
        color: darkkhaki;
    }
    .calen p{
        font-size: 120%;
        margin-bottom: 5%;
        text-align: justify;
    }
    .calen iframe{
        width: 100%;
    }
    .calen a{
        color: dimgray;
        width: 33%;
        float: left;
        font-size: 90%;
    }
    .calen img{
        margin-top: 4%;
        margin-bottom: 3%;
    }
    .dia{
        line-height: 2;
        margin-top: 3%;
        font-size: larger;
        font-size: 150%;
        color: brown;
        margin-bottom: 2%;
    }
    .anim img{
        border-top-left-radius: 10%;
        border-top-right-radius: 10%;
    }
    .anim a{
        text-decoration: none;
        color: white;
    }
    
    .anim{
        border: 2px solid black;
        border-radius: 10%;
        background-color: black;
        float: left;
        width: 90%;
        height: 30vh;
        color: black;
        text-align: center;
        font-size: 100%;
        margin-right: 4%;
        margin-bottom: 4%;
        margin-left: 5%;
    }
    .anima{
        float: left;
        width: 100%;
        height: 5vh;
        margin-right: 4%;
        margin-bottom: 2%;  
    
    }
    footer a{
        text-decoration: none;
        color: yellowgreen;
    }
    footer{
        margin-top: 50%;
        background-color: aqua;
        color: red;
        height: 80px;
        line-height: 80px;
        text-align: center;
        font-size: 30px;
    }
    .salteo{
        width: calc(50% - 0px) ;
        float: left;
        color: white;
        text-align: center;
        padding-bottom: 5px;
    
    }
}

/*Version tablet*/
@media (min-width: 768px) and (max-width:990px){
    .desktop{display: none}
    .movil{display: none}
}

/*Version desktop*/
@media (min-width:991px){
    .tablet{display: none}
    .movil{display: none}

    .container-informacion{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 1%;
        min-height: 30em;
        height: calc(20em + 32vh);
    }
    .container-informacion__imagen img{
        width: 100%;
        height: 90%;
        object-fit: cover;
        border: 3px solid #b6a;
    }
    .container-informacion__sinopsis{
        display: flex;
        flex-direction: column;
    }
    .container-informacion__sinopsis h1{
        color: #b68;
        font-weight: 600;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .container-informacion__sinopsis p{
        font-weight: lighter;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .container-informacion__sinopsis--genero h2{
        margin-top: 2%;
        width: 100%;
    }
    .container-informacion__sinopsis--genero{
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        width: 70%;
    }
    .container-informacion__sinopsis--genero h3{
        background-color: #eee;
        border-radius: 20%;
        padding: 1%;
        color: #bab;
    }
    .container-opciones{
        display: grid;
        grid-template-columns: repeat(7,1fr);
        gap: 2%;
        margin-bottom: 5%;
    }
    .container-opciones__texto{
        grid-column: span 3;
    }
    .container-opciones__texto--enlaces{
        margin-top: 5%;
    }
    .container-opciones__trailer{
        grid-column: span 4;
    }
    .container-opciones__trailer iframe{
        width: 100%;
        height: 100%;
    }
    

}