
@media (max-width: 767px){
    .desktop{display: none;}
    .tablet{display: none;}

    /*inicio del cuerpo*/
    .container {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-auto-rows: auto;
        gap: 1%;
        margin-bottom: 9%;
    }   
    .container__presentation{
        grid-column: 1/4;
        font-size: calc(.8em + 1vw);
    }
    .container__presentation h1{
        font-weight: 900;
        color: #167;
        font-size: calc(1.2em + 1vw);;
    }
    .container__presentation p{
        text-align: justify;
    }
    .container__recom{
        grid-column: 1/4;
        font-size: calc(.70em + 2vw);
        margin-bottom: 3%;
    }
    .container__recom-texto{
        margin-bottom: 4%;
    }
    .container__recom-imagenes{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 300vh;
    }
    .container__recom-imagenes h3{
        color: #f60;
    }
    .container__recom-imagenes a {
        height: 18%;
        text-decoration: underline var(--color-encabezado);
    }
    .container__recom-imagenes a img{
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
    .container__aside{
        grid-column: 1/4;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 4%;
        font-size: calc(.3em + 3vw);
    }
    .container__aside--calen h2{
        font-weight: bold;
        color: #167;
    }
    .container__aside--noti{
        display: flex;
        text-decoration: none;
        color: black;
        gap: 2%;
    }
    .container__aside--noti-texto{
        width: 60%;
    }
    .container__aside--noti-texto h2{
        color: #f00;
        font-weight: 900;
    } 
    .container__aside--noti-imagen{
        width: 40%;
    }
    .container__aside--noti-imagen img{
        height: 100%;
        object-fit: cover;
    }
}

@media (min-width: 768px) and (max-width:990px){
    .desktop{display: none;}
    .movil{display: none;}
}

@media (min-width: 991px){
    .movil{display: none;}
    .tablet{display: none;}
    
    /*inicio del cuerpo*/
    .container {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1%;
        margin-bottom: 9%;
        font-size: 4vh;
    }   
    .container__presentation{
        grid-column: 1/4;
        font-size: calc(.5em + 1vw);
    }
    .container__presentation h1{
        font-weight: bold;
        color: #167;
        font-size: calc(.7em + 3vw);
    }
    .container__presentation p{
        text-align: justify;
    }
    .container__presentation img{
        width: 100%;
    }
    .container__recom{
        grid-column: 1/3;
        padding-right: 5%;
        font-size: calc(.3em + 1.5vw);
    }
    .container__recom-texto{
        margin-bottom: 5%;
        
    }
    .container__recom-imagenes{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 450vh;
    }
    .container__recom-imagenes h3{
        color: #f60;
    }
    .container__recom-imagenes a {
        height: 18%;
        text-decoration: underline var(--color-encabezado);
    }
    .container__recom-imagenes a img{
        object-fit: cover;
        height: 90%;
        width: 100%;
    }
    .aside{
        grid-column: 3/4;
    }
    .container__aside{
        font-size: 60%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: sticky;
        top: 4.5em;
        z-index: 1;
        font-size: calc(.1em + 1vw);
    }
    .container__aside--calen{
        height: 30%;
    }
    .container__aside--calen h2{
        font-weight: bold;
        color: #167;
    }
    .container__aside--noti{
        text-decoration: none;
        color: black;
        height: 65%;
        overflow: hidden;
    }
    .container__aside--noti-texto h2{
        color: #f00;
        font-weight: 900;
    } 
    .container__aside--noti img{
        width: 70%;
        height: calc(18vh + 10em);
        object-fit: cover;
        margin-bottom: 5%;
    }
    /*
    .messi{
        animation-iteration-count: infinite;
        animation-name: "noticias";
    }
    @keyframes noticias{
        0%{
            position: relative;
            right: 0;
            animation-duration: 5s;

        }
        50%{

        }
        100%(

        )
    }*/
}
    




