*{
    margin: 0px;
    padding: 0px;
}
body{
    background: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}
#cabeza h1{
    background: darkcyan;
    padding-top: 20px;
    padding-left: 32px;
}
#cabeza{
    width: 70%;
    margin: 0px auto;
    border: 2px solid gray;
}
nav{
    padding-left: 150px;
    padding-right: 200px;
    width: 100%;
    background: black;
    height: 100px;
    line-height: 60px;
    border-bottom:2px solid black;
    font-size: 25px;
}
nav ul li:first-child{
    padding-right: 5px;
}
nav ul li{
    float: left;
    list-style: none;
    margin: 10px;
    padding-right: 150px;
}
.clear{
    clear: both;
}
#blablabla{
    width: calc(100% - 60px);
    min-height: 570px;
    background: darkcyan;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 40px;

}
.article h1 {
    text-align: center;
    color: red;
    font-size: 45px;
    margin-bottom: 0px;}
.article {
    color: aqua;
    font-size: px;
    margin-bottom: 20px;}

.rocas{
    padding-top: 10px;
    width: 50%;
    float: left;
}
footer{
    background: violet;
    color: blue;
    text-align: center;
    height: 80px;
    line-height: 80px;
}