/*inicio de cuerpo*/
.container{
    display: flex;
}
.container__article{
    display: flex;
    flex-wrap: wrap;
}
.container__article h1 {
    flex-basis: 100%;
    text-align: center;
    color: #f00;
    font-size: calc(1.5vw + 2em);
    font-weight: 600;
}
.rocas p{
    font-size: calc(1.2vw + .1em);
    margin-bottom: 20px;
    text-align: justify;
    line-height: 1.3;
}
.rocas img{
    height: calc(4vh + 15em);
}

.rocas{
    width: 50%;
    padding: 2%;
    height: calc(4vh + 30em);
}