/*inicio de cuerpo*/
#cabeza h1{
    padding-top: 20px;
    padding-left: 32px;
}
#cabeza{
    width: 70%;
    margin: 0px auto;
    border: 2px solid white;
}
.clear{
    clear: both;
}
#blablabla{
    width: calc(100% - 60px);
    min-height: 570px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 40px;

}
.article h1 {
    text-align: center;
    color: red;
    font-size: 45px;
    margin-bottom: 0px;}
.article {
    font-size: px;
    margin-bottom: 20px;}

.rocas{
    padding-top: 10px;
    width: 50%;
    float: left;
}
footer{
    background: violet;
    color: blue;
    text-align: center;
    height: 80px;
    line-height: 80px;
}