/*Version movil*/
@media (max-width:767px){
    .desktop{display: none}
    .tablet{display: none}
    *{
        scroll-behavior: smooth ;
    }
    .container{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .container__calen{
        margin-top: 0;
        display: flex;
        flex-direction: column;
    }
    .container__calen h1{
        font-size: calc(1.5vw + 2em);
        font-weight: 900;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-bottom: 1%;
        color: #59b;
    }
    .container__calen p{
        margin-bottom: 1%;
        font-size: calc(2vw + .8em);
        margin-bottom: 3%;
    }
    .container__calen iframe{
        width: 100%;
        order: 20;
        height: calc(20em + 1vh);
    }
    .container__calen--indice{
        order: 10;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(75px,1fr));
        column-gap: 7%;
    }
    .container__calen--indice h2{
        font-size: calc(2vw + .7em);
        color: #50f;
        margin: auto;
        margin-bottom: 20%;
    }
    .container__calen--indice a{
        text-decoration: underline #0f9;
    }
    section{
        margin: 5% 0 5% 0;
    }
    section h2{
        font-size: calc(1vw + 3em);
        margin-top: 5%;
        margin-bottom: 2%;
        color: #f60;
        font-weight: 900;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .container__dias{
        display: grid;
        grid-column: 1fr;    
    }
    .container__dias--dia{
        display: grid;
        grid-template-columns: 1fr ;
        grid-auto-rows: minmax(17.5em,calc(19.5em + 1vh));
        line-height: 1;
        gap: 1%;
        scroll-behavior: smooth;
    }
    .anim{
        border: 2px solid black;
        border-radius: 10%;
        background-color: black;
        text-align: center;
    }
    
    .anim h2{
       font-size:calc(2vw + .7em);
       font-weight: 900;
       font-family: Verdana, Geneva, Tahoma, sans-serif;
       color: var(--color-encabezado);
       margin: 0;
       margin-top: 1%;
    }
    .anim img{
        object-fit: cover;
        border-top-left-radius: 10%;
        border-top-right-radius: 10%;
        height: 80%;
        width: 100%;
    }
    .anim a{
        text-decoration: none;
        color: white;
    }
}

/*Version tablet*/
@media (min-width: 768px) and (max-width:990px){
    .desktop{display: none}
    .movil{display: none}
}

/*Version desktop*/
@media (min-width:991px){
    .tablet{display: none}
    .movil{display: none}

    *{
        scroll-behavior: smooth ;
    }
    .container{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .container__calen{
        margin-top: 0;
        display: flex;
        flex-direction: column;
    }
    .container__calen h1{
        font-size: calc(1vw + 3em);
        font-weight: 900;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-bottom: 1%;
        color: #59b;
    }
    .container__calen p{
        margin-bottom: 1%;
        font-size: calc(1vw + .8em);
    }
    .container__calen iframe{
        width: 80%;
        order: 20;
        margin: auto;
        height: calc(20em + 25vh);
    }
    .container__calen--indice{
        display: flex;
        order: 10;
        width: 100%;
        justify-content: space-between;
    }
    .container__calen--indice h2{
        font-size: calc(1vw + .9em);
        color: #50f;
        margin: auto;
        margin-bottom: 20%;
    }
    .container__calen--indice a{
        text-decoration: underline #0f9;
    }
    section{
        margin: 5% 0 5% 0;
    }
    section h2{
        font-size: calc(1vw + 3em);
        margin-top: 5%;
        margin-bottom: 2%;
        color: #f60;
        font-weight: 900;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .container__dias--dia{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-auto-rows: minmax(16.5em,calc(16.5em + 1vh));
        line-height: 1;
        gap: 1%;
        scroll-behavior: smooth;
    }
    .anim{
        border: 2px solid black;
        border-radius: 10%;
        background-color: black;
        text-align: center;
    }
    
    .anim h2{
       font-size:calc(1vw + .3em);
       font-weight: 900;
       font-family: Verdana, Geneva, Tahoma, sans-serif;
       color: var(--color-encabezado);
       margin: 0;
       margin-top: 1%;
    }
    .anim img{
        object-fit: cover;
        border-top-left-radius: 10%;
        border-top-right-radius: 10%;
        height: 80%;
        width: 100%;
    }
    .anim a{
        text-decoration: none;
        color: white;
    }
}

